/* Add styles for the film gallery */
.film-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0; /* No gap between thumbnails */
}

.film-thumbnail {
    position: relative;
    width: calc(33.33% - 20px);
    margin: 0;
}

.film-thumbnail img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.film-thumbnail:hover .film-details {
    opacity: 1;
}

.delete-button {
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
}

.add-button {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.filter-form {
    color: antiquewhite;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.film-gallery {
    margin-bottom: 60px;
}
