/* Add styles for the film gallery */
.film-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px; /* Adjust the gap between thumbnails */
}

/* Style for each film thumbnail */
.film-thumbnail {
    position: relative;
    width: calc(33.33% - 20px); /* Adjust the width as needed for 3 thumbnails per row */
}

.film-thumbnail img {
    max-width: 100%;
    height: auto;
}

.film-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.film-thumbnail:hover .film-details {
    opacity: 1;
}

.delete-button {
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
}

.add-button {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}


.filter-form {
   
    color: antiquewhite;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px;
    border-top: 1px solid #ccc;
}


.film-gallery {
    margin-bottom: 60px; 
}

